aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
anyio==3.6.2
appdirs==1.4.4
apturl==0.5.2
astroid==2.4.2
asttokens==2.1.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.2.0
awkward==1.1.2
awkward0==0.15.5
awkward1==1.0.0
backcall==0.1.0
bcrypt==3.1.7
black==22.6.0
blinker==1.4
Brlapi==0.7.0
build==0.10.0
CacheControl==0.12.11
cachetools==4.1.1
certifi==2020.6.20
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==3.1.0
cleo==2.0.1
click==8.1.3
colorama==0.4.3
command-not-found==0.3
crashtest==0.4.1
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
distlib==0.3.6
distro==1.4.0
distro-info===0.23ubuntu1
docopt==0.6.2
dulwich==0.21.3
duplicity==0.8.12.0
entrypoints==0.3
execnb==0.1.4
fastapi==0.95.1
fastcore==1.5.27
fasteners==0.14.1
ffmpy==0.3.0
filelock==3.9.0
frozenlist==1.3.3
fsspec==2023.4.0
future==0.18.2
ghapi==1.0.3
gradio==3.25.0
gradio-client==0.1.0
h11==0.14.0
html5lib==1.1
httpcore==0.17.0
httplib2==0.14.0
httpx==0.24.0
huggingface-hub==0.13.4
identify==2.5.5
idna==2.8
importlib-metadata==6.0.0
importlib-resources==5.12.0
installer==0.6.0
ipykernel==5.4.3
ipython==7.13.0
ipython-genutils==0.2.0
isort==5.7.0
jaraco.classes==3.2.3
jedi==0.15.2
jeepney==0.8.0
Jinja2==3.1.2
jsonschema==4.17.3
jupyter-client==6.1.11
jupyter-core==4.7.1
keyring==23.13.1
kiwisolver==1.2.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
linkify-it-py==2.0.0
lockfile==0.12.2
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.0
markdown-it-py==2.2.0
MarkupSafe==1.1.0
matplotlib==3.3.1
mccabe==0.6.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
monotonic==1.5
more-itertools==9.1.0
mplhep==0.2.9
msgpack==1.0.5
multidict==6.0.4
mypy-extensions==0.4.3
nbdev==2.3.8
netifaces==0.10.4
nodeenv==1.7.0
numpy==1.19.1
oauthlib==3.1.0
olefile==0.46
opencv-python==4.6.0.66
orjson==3.8.10
packaging==20.7
pandas==1.1.4
paramiko==2.6.0
parso==0.5.2
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pipreqs==0.4.12
pkginfo==1.9.6
pkgutil-resolve-name==1.3.10
platformdirs==2.5.2
poetry==1.4.0
poetry-core==1.5.1
poetry-plugin-export==1.3.0
pre-commit==2.20.0
prompt-toolkit==2.0.10
protobuf==3.6.1
ptyprocess==0.7.0
pycairo==1.16.2
pycups==1.9.73
pydantic==1.10.7
pydub==0.25.1
Pygments==2.3.1
PyGObject==3.36.0
PyJWT==1.7.1
pylint==2.6.2
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.7
pyproject-hooks==1.0.0
pyRFC3339==1.1
pyrsistent==0.19.3
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-multipart==0.0.6
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
pyzmq==22.0.3
rapidfuzz==2.13.7
reportlab==3.5.34
requests==2.22.0
requests-toolbelt==0.10.1
requests-unixsocket==0.2.0
scipy==1.5.4
seaborn==0.11.2
SecretStorage==3.3.3
semantic-version==2.10.0
shellingham==1.5.0.post1
simplejson==3.16.0
six==1.14.0
sniffio==1.3.0
starlette==0.26.1
systemd-python==234
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
toolz==0.12.0
tornado==6.1
tqdm==4.65.0
traitlets==4.3.3
trove-classifiers==2023.2.20
typing-extensions==4.3.0
ubuntu-advantage-tools==27.8
ubuntu-drivers-common==0.0.0
uc-micro-py==1.0.1
ufw==0.36
unattended-upgrades==0.1
uproot==4.0.6
uproot-methods==0.8.0
urllib3==1.26.14
usb-creator==0.3.7
uvicorn==0.21.1
virtualenv==20.20.0
wadllib==1.3.3
watchdog==2.1.9
wcwidth==0.1.8
webencodings==0.5.1
websockets==11.0.1
wrapt==1.12.1
xkit==0.0.0
yarg==0.1.9
yarl==1.8.2
zipp==3.15.0
